* {
    margin: 0;
  
  }
  
  body {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    

  }

  table {
    border-collapse: collapse;
    width: 33%; 
 
 
    
  }
  

  .titre-recette {
    background: #FBE4CC; 
    text-align: center;
   
   
  }



  .titre-etiquette {
    font-weight: 800;
    text-align: center;
    padding: 3px;
    color: #FBE4CC; 
  
  }


.separateur {

border-bottom: 10px solid #FBE4CC);

    
}


.titre-total, .titre-valeur, .serving{
    text-align: justify;
    padding-left : 10%;
    padding-bottom: 12px;
    color: #FBE4CC; 

}

.macro {
    text-align: justify;
    padding-left : 10%;
    padding-top: 3px;
    color: #FBE4CC; 
}

.valeur-macro {
    text-align: justify;
    padding-left: 10%;
    padding-top: 3px;
    color: #FBE4CC; 
}