* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    background-color: #221e1f;
    color: #FBE4CC; 
  }

  h1 {
    color: #FBE4CC;
    text-align: center;
    font-family: 'Righteous', cursive;
  }

  .photo-recette {
    width: 55%;
    height: auto;
    display: block;
    border-radius: 50px;
    padding: 15px;
    float: left;
  margin-right: 20px;
  
  }

  .photo-recette:hover {
    transform: scale(1.05);
  }

  .ingredients {
    margin-top: 25px;
    width: 100%;
  }

table{
    border-collapse: collapse;
    line-height: 15px;
    

}

  .interligne {
    
    border-bottom: 2px solid #FBE4CC;
  
    
  }

  td, th{
    padding: 10px;
  }

  ul {
    line-height: 1.2;
  }

  li {
    margin-bottom: 30px;
    
  }

  .mise-en-oeuvre {
    float: right;
    
  }

